canvas {
  width: 100vw;
  height: 100vh;
  display: absolute;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}

body {
  font-family: Courier New !important;
}

.title {
  font-size: 44pt;
}

.header {
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    text-align: center;
}

.custom-panel {
  padding: .5cm .5cm .5cm .5cm;
  margin: 1cm 3cm 1cm 3cm;
}

.content {
  width: auto;
  background: white;
  border: 0px solid white;
  border-radius: .5cm;
}

.panel-header {
  margin-bottom: 1cm;
}

.work-title {
  position: relative;
  left: 0px;
}

.work-date {
  position: absolute;
  right: 0px;
}

.work {
  display: inline;
}

.content-item {
  margin: 1cm;
}

.glyphicon {
  margin-left: 15px;
  position: absolute;
}

.disable-button {
  position: absolute;
  margin-top:.5cm;
  margin-right:.5cm;
  top: 0px;
  right: 0px;
}